@model ICollection<BuildingCondition.Db.Models.User>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@{UserManager<IdentityUser> userManager = _userManager;}

@{
    ViewData["Title"] = "List";
}

@await Html.PartialAsync("_LayoutHeader")

<section>
    <div class="row mx-1 my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a asp-controller="Account" asp-action="Register" class="btn btn-success mb-2">
                                <i class="fas fa-plus-square"></i>
                                Add
                            </a>
                        </div>
                    </div>
                    <table class="table table-centered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Last name</th>
                                <th>First name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{ var count = 0; }
                            @foreach (var user in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td>@user.LastName</td>
                                    <td>@user.FirstName</td>
                                    <td>
                                        <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn btn-link text-info" data-toggle="tooltip" data-placement="top" title="Details">
                                            <i class="fas fa-info"></i>
                                        </a>
                                        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-link text-warning" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        @if (userManager.IsInRoleAsync(user, "ActiveUser").Result)
                                        {
                                            <a asp-controller="User" asp-action="Lock" asp-route-id="@user.Id" class="btn btn-link text-danger" data-toggle="tooltip" data-placement="top" title="Lock">
                                                <i class="fas fa-lock"></i>
                                            </a>
                                        }
                                        @if (!userManager.IsInRoleAsync(user, "ActiveUser").Result)
                                        {
                                            <a asp-controller="User" asp-action="Unlock" asp-route-id="@user.Id" class="btn btn-link text-success" data-toggle="tooltip" data-placement="top" title="Unlock">
                                                <i class="fas fa-lock-open"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>