@model BuildingCondition.Db.Models.Building

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("_LayoutHeader")

<section>
    <div class="row mx-1 my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>@Model.BuildingManager.Name</p>
                    <p>@Model.Country @Model.State @Model.City @Model.Street @Model.BuildingNumber</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-1 my-1">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p>Apartments</p>
                    @if (User.IsInRole("ApartmentAdd"))
                    {
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a asp-controller="Apartment" asp-action="Add" class="btn btn-success mb-2">
                                    <i class="fas fa-plus-square"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    }
                    <table class="table table-centered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Apartment Number</th>
                                <th>Gate Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 0; }
                            @foreach (var apartment in Model.Apartments)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td>@apartment.ApartmentNumber</td>
                                    <td>@apartment.GateNumber</td>
                                    <td>
                                        @if (User.IsInRole("ApartmentDetails"))
                                        {
                                            <a asp-controller="Apartment" asp-action="Details" asp-route-id="@apartment.Id" class="btn btn-link text-info" data-toggle="tooltip" data-placement="top" title="Details">
                                                <i class="fas fa-info"></i>
                                            </a>
                                        }
                                        @if (User.IsInRole("ApartmentEdit"))
                                        {
                                            <a asp-controller="Apartment" asp-action="Edit" asp-route-id="@apartment.Id" class="btn btn-link text-warning" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        }
                                        @if (User.IsInRole("ApartmentDelete"))
                                        {
                                            <a asp-controller="Apartment" asp-action="Delete" asp-route-buildingid="@apartment.BuildingId" asp-route-apartmentid="@apartment.Id" class="btn btn-link text-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p>Electrical reports</p>
                    @if (User.IsInRole("ApartmentDelete"))
                    {
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a asp-controller="Building" asp-action="AddElectricalReport" class="btn btn-success mb-2">
                                    <i class="fas fa-plus-square"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p>Gas reports</p>
                    @if (User.IsInRole("ApartmentDelete"))
                    {
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a asp-controller="Building" asp-action="AddGasReport" class="btn btn-success mb-2">
                                    <i class="fas fa-plus-square"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

