@model BuildingCondition.Mvc.Models.ViewModels.ApartmentViewModels.ApartmentEditGasReportViewModel

@{
    ViewData["Title"] = "EditGasReport";
}

@await Html.PartialAsync("_LayoutHeader")

<section>
    <div class="row mx-1 my-1">
        <div class="col-6 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <p>Add gas report</p>
                    <form asp-controller="Apartment" asp-action="EditGasReport" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ApartmentId" />
                        <input type="hidden" asp-for="UserId" />

                        <div class="form-group">
                            <label for="gasReportDate1">Date Of Inspection</label>
                            <input asp-for="DateOfInspection" type="date" class="form-control" id="gasReportDate1" readonly>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label for="gasReportSelect1">Gas detector</label>
                            <select asp-for="GasDetectorId" class="custom-select" id="gasReportSelect1">
                                @foreach (var gasDetector in Model.GasDetectors)
                                {
                                    if (gasDetector.Id == Model.GasDetectorId)
                                    {
                                        <option value="@gasDetector.Id" selected>Model: @gasDetector.Model | Serial number: @gasDetector.SerialNumber</option>
                                    }
                                    else
                                    {
                                        <option value="@gasDetector.Id">Model: @gasDetector.Model | Serial number: @gasDetector.SerialNumber</option>

                                    }
                                }
                            </select>
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="ForPremisesOrCollectiveOrSeal" type="checkbox" class="form-check-input" id="gasReportCheck1">
                            <label class="form-check-label" for="gasReportCheck1">For premises or collective or seal</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="AssessmentOfGasMeterAccuracy" type="checkbox" class="form-check-input" id="gasReportCheck2">
                            <label class="form-check-label" for="gasReportCheck2">Assessment Of Gas Meter Accuracy</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="TheGasMeterConnectionsWithTheInstallation" type="checkbox" class="form-check-input" id="gasReportCheck3">
                            <label class="form-check-label" for="gasReportCheck3">The Gas Meter Connections With The Installation</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="VentilationOfTheGasMeterCabinet" type="checkbox" class="form-check-input" id="gasReportCheck4">
                            <label class="form-check-label" for="gasReportCheck4">Ventilation Of The Gas Meter Cabinet</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="SecuringTheGasMeterAgainstUnauthorizedAccessAndAccessToTheGasMeter" type="checkbox" class="form-check-input" id="gasReportCheck5">
                            <label class="form-check-label" for="gasReportCheck5">Securing The Gas Meter Against Unauthorized Access And Access To The Gas Meter</label>
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="ConditionOfPipeWallsAndFittings" type="checkbox" class="form-check-input" id="gasReportCheck6">
                            <label class="form-check-label" for="gasReportCheck6">Condition Of Pipe Walls And Fittings</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="InstallationTightness" type="checkbox" class="form-check-input" id="gasReportCheck7">
                            <label class="form-check-label" for="gasReportCheck7">Installation Tightness</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="ConditionOfAnticorrosiveCoating" type="checkbox" class="form-check-input" id="gasReportCheck8">
                            <label class="form-check-label" for="gasReportCheck8">Condition Of Anticorrosive Coating</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="IntersectionsOfGasInstallationsWithOtherPipes" type="checkbox" class="form-check-input" id="gasReportCheck9">
                            <label class="form-check-label" for="gasReportCheck9">Intersections Of Gas Installations With Other Pipes</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="FasteningGasInstallationsAndPipes" type="checkbox" class="form-check-input" id="gasReportCheck10">
                            <label class="form-check-label" for="gasReportCheck10">Fastening Gas Installations And Pipes</label>
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="CookerFittingsAccessibilityToTheShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck11">
                            <label class="form-check-label" for="gasReportCheck11">Cooker Fittings Accessibility To The Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="CookerFittingsTheTightnessOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck12">
                            <label class="form-check-label" for="gasReportCheck12">Cooker Fittings The Tightness Of The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="CookerFittingsOperationOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck13">
                            <label class="form-check-label" for="gasReportCheck13">Cooker Fittings Operation Of The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="CookerFittingsRoomVentilationWithGasReceiverVentilationGrille" type="checkbox" class="form-check-input" id="gasReportCheck14">
                            <label class="form-check-label" for="gasReportCheck14">Cooker Fittings Room Ventilation With Gas Receiver Ventilation Grille</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="CookerFittingsTechnicalConditionOfGasDevicesAndConnectionsToFlueGasDucts" type="checkbox" class="form-check-input" id="gasReportCheck15">
                            <label class="form-check-label" for="gasReportCheck15">Cooker Fittings Technical Condition Of Gas Devices And Connections To Flue Gas Ducts</label>
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="BathroomStoveFittingsAccessibilityToTheShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck16">
                            <label class="form-check-label" for="gasReportCheck16">Bathroom Stove Fittings Accessibility To The Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="BathroomStoveFittingsTheTightnessOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck17">
                            <label class="form-check-label" for="gasReportCheck17">Bathroom Stove Fittings The TightnessOf The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="BathroomStoveFittingsOperationOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck18">
                            <label class="form-check-label" for="gasReportCheck18">Bathroom Stove Fittings Operation Of The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="BathroomStoveFittingsRoomVentilationWithGasReceiverVentilationGrille" type="checkbox" class="form-check-input" id="gasReportCheck19">
                            <label class="form-check-label" for="gasReportCheck19">Bathroom Stove Fittings Room Ventilation With Gas Receiver Ventilation Grille</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="BathroomStoveFittingsTechnicalConditionOfGasDevicesAndConnectionsToFlueGasDucts" type="checkbox" class="form-check-input" id="gasReportCheck20">
                            <label class="form-check-label" for="gasReportCheck20">Bathroom Stove Fittings Technical Condition Of Gas Devices And Connections To Flue Gas Ducts</label>
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="KitchenStoveFittingsAccessibilityToTheShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck21">
                            <label class="form-check-label" for="gasReportCheck21">Kitchen Stove Fittings Accessibility To The Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="KitchenStoveFittingsTheTightnessOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck22">
                            <label class="form-check-label" for="gasReportCheck22">Kitchen Stove Fittings The Tightness Of The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="KitchenStoveFittingsOperationOfTheGasShutoffValve" type="checkbox" class="form-check-input" id="gasReportCheck23">
                            <label class="form-check-label" for="gasReportCheck23">Kitchen Stove Fittings Operation Of The Gas Shutoff Valve</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="KitchenStoveFittingsRoomVentilationWithGasReceiverVentilationGrille" type="checkbox" class="form-check-input" id="gasReportCheck24">
                            <label class="form-check-label" for="gasReportCheck24">Kitchen Stove Fittings Room Ventilation With Gas Receiver Ventilation Grille</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="KitchenStoveFittingsTechnicalConditionOfGasDevicesAndConnectionsToFlueGasDucts" type="checkbox" class="form-check-input" id="gasReportCheck25">
                            <label class="form-check-label" for="gasReportCheck25">Kitchen Stove Fittings Technical Condition Of Gas Devices And Connections To Flue Gas Ducts</label>
                        </div>

                        <hr />

                        <div class="form-group">
                            <input asp-for="GaseousFuelConcentration" type="text" class="form-control" placeholder="Gaseous fuel concentration">
                        </div>
                        <div class="form-group">
                            <input asp-for="Location" type="text" class="form-control" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <label for="gasReportDate2">Deadline for deletion</label>
                            <input asp-for="DeadlineForDeletion" type="date" class="form-control" id="gasReportDate2">
                        </div>
                        <div class="form-check">
                            <input asp-for="ShutOffTheGasSupply" type="checkbox" class="form-check-input" id="gasReportCheck26">
                            <label class="form-check-label" for="gasReportCheck26">Shut off the gas supply</label>
                        </div>

                        <hr />

                        <div class="form-group">
                            <input asp-for="CommentsAndPostInspectionRecommendationsToBeMadeByTheManagerOrOwner" type="text" class="form-control" placeholder="Comments and post inspection recommendations to be made by the manager or owner">
                        </div>
                        <div class="form-group">
                            <input asp-for="CommentsAndPostInspectionRecommendationsToBeMadeByTheGasSupplier" type="text" class="form-control" placeholder="Comments and post inspection recommendations to be made by the gas supplier">
                        </div>
                        <div class="form-group">
                            <input asp-for="CommentsAndPostInspectionRecommendationsToBeMadeByTheApartmentUser" type="text" class="form-control" placeholder="Comments and post inspection recommendations to be made by the apartment user">
                        </div>

                        <hr />

                        <div class="form-check">
                            <input asp-for="FurtherOperationOfTheInstallationInThePremises" type="checkbox" class="form-check-input" id="gasReportCheck27" readonly>
                            <label class="form-check-label" for="gasReportCheck27">Further Operation Of The Installation In The Premises</label>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label for="gasReportDate3">Date of next inspection</label>
                            <input asp-for="DateOfNextInspection" type="date" class="form-control" readonly>
                        </div>

                        <button type="submit" class="btn btn-success">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
