@model BuildingCondition.Mvc.Models.ViewModels.DashboardViewModels.DashboardUsersViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@{UserManager<IdentityUser> userManager = _userManager;}

@{
    ViewData["Title"] = "Users";
}

@await Html.PartialAsync("_LayoutHeader")

<section>
    <div class="d-flex justify-content-end">
        <a asp-controller="Account" asp-action="Register" class="btn btn-link text-success">
            <i class="fas fa-plus-square"></i>
        </a>
    </div>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @{ var count = 0; }
            @foreach (var user in Model.Users)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>
                        <a asp-controller="Dashboard" asp-action="UserDetails" asp-route-id="@user.Id" class="btn btn-link text-info">
                            <i class="fas fa-info"></i>
                        </a>
                        <a asp-controller="Dashboard" asp-action="UserEdit" asp-route-id="@user.Id" class="btn btn-link text-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        @if (userManager.IsInRoleAsync(user, "ActiveUser").Result)
                        {
                            <a asp-controller="Dashboard" asp-action="UserLock" asp-route-id="@user.Id" class="btn btn-link text-danger">
                                <i class="fas fa-lock"></i>
                            </a>
                        }
                        @if (!userManager.IsInRoleAsync(user, "ActiveUser").Result)
                        {
                            <a asp-controller="Dashboard" asp-action="UserUnlock" asp-route-id="@user.Id" class="btn btn-link text-success">
                                <i class="fas fa-lock-open"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
